@import "bootstrap/dist/css/bootstrap.min.css";
@import "remixicon/fonts/remixicon.css";
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

p {
  margin: 0 !important;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 !important;
}
.container,
.container-fluid,
.container-lg,
.container-md,
.container-sm,
.container-xl,
.container-xxl {
  max-width: 1392px !important;
}
div.react-joyride__tooltip {
  border-radius: 8px !important;
}
[data-test-id="button-primary"] {
  border-radius: 8px !important;
}
.react-joyride__beacon {
  top: -7px;
  left: 100px;
}
